<div class="header">
    <div layout="row" layout-align="start center" class="main">
        <div id="logo_big" hide-sm show-gt-sm offset="5">
            <img src="images/zlogo.png" class="img-responsive">
        </div>
        <div id="logo_small" hide-gt-sm offset-sm="5">
            <img src="images/small_logo.png" class="img-small">
        </div>
        <div layout="row" offset-sm="5" flex-sm="65" offset-md="5" flex-md="60" flex-gt-md="40" offset-gt-md="5" layout-align="start center" id="search">
            <div class="search_type" flex="20">
                <div id="location_container">
                </div>
            </div>
            <div id="keywords_container" flex="60">
            </div>
            <div id="search_button" flex="20">
            </div>
        </div>
        <div layout="row" offset-gt-md="5" hide-sm hide-md flex-gt-md="25" id="filter" layout-align="start center">
            <div id="filters" flex="40">
                Filters
            </div>
            <div id="shortlist" flex="60">
                Shortlist
            </div>
        </div>
        <div layout="row" layout-align="start center" id="filter_bottom" hide-gt-md flex="100">
            <div id="filters_bottom" flex="50">
                Filters
            </div>
            <div id="shortlist_bottom" flex="50">
                Shortlist
            </div>
        </div>
    </div>
</div>